{% extends 'base.html.twig' %}

{% block title %}La casse CDA - Accueil{% endblock %}

{% block body %}
<h1 class='text-center mt-5 fs-1'>La casse du CDA !!!<i class="fas fa-car-burst"></i></h1>


{% endblock %}
